<%- include('partials/header') %>

<main class="home-container">
    <h2>Easy Exercises</h2>
    
    <div class="card-container">
        
        <div class="card exercise-card">
            <h3>Arms & Shoulders</h3>
            <img src="/images/arms.jpeg" alt="Arms and Shoulders Workout">
        </div>

        <div class="card exercise-card">
            <h3>Back & Abs</h3>
            <img src="/images/abs.jpeg" alt="Abs and Back Workout">
        </div>

        <div class="card exercise-card">
            <h3>Legs</h3>
            <img src="/images/legs.jpeg" alt="Leg Workout">
        </div>

    </div>

    <div style="margin-top: 40px;">
        <a href="/" class="btn-back-home">
            &larr; Back to Home
        </a>
    </div>

</main>

<%- include('partials/footer') %>