<%- include('partials/header') %>

<main class="home-container">
    <h2>Workout Tracker 2025</h2>
    
    <div class="card-container">
        <a href="/sessions" class="card">
            Sessions
        </a>
        <a href="/exercises" class="card">
            Easy Exercises
        </a>
        <a href="/templates" class="card">
            Workout templates
        </a>
    </div>

    <div class="info-blurb">
        <p>
            Digital Gym Buddy not only allows you to track and manage your workouts, but also provides visual guides and demonstrations for new exercises to ensure proper form. Additionally, it includes a selection of pre-made workout templates to help you get started and stay motivated. This all-in-one tool makes fitness more accessible, engaging, and tailored to your progress. Now go!
        </p>
    </div>

</main>

<%- include('partials/footer') %>