<%- include('partials/header') %>

<main class="home-container">
    <h2>Workout Tracker 2025</h2>
    
    <div class="card-container">
    <a href="/sessions" class="card"> Sessions
    </a>
    <a href="/exercises" class="card">
    Easy Exercises
    </a>

        <a href="/templates" class="card">
            Workout templates
        </a>
    </div>
</main>

<%- include('partials/footer') %>